* {
    box-sizing:border-box;
  }
  body{
      background-color: rgb(185, 97, 56);
      font-size: 15px;
      margin: 0;
  }
  .header{
      text-align: center;
      font-size: 35px;
      background-color: rgb(116, 11, 116);
      color: rgb(191, 235, 235);
      padding: 8px;
      margin-top: 0px;
  }
  .footer{
      text-align: center;
      position: bottom left;
  }
  ul{
      list-style-type: none;
      margin: 0px;
      padding: 0;
      overflow: hidden;
      background-color: black;
  }
  li{
      float: right;
      
             
  }
  
  li a{
      display: block;
      background-color: rgb(128, 1, 128);
      margin: 5px 10px;
      margin-left: 2px;
      padding: 7px 12px;
      color: rgb(159, 226, 231);
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      position: sticky;
      
  }

   a:hover{
      background-color: rgb(219, 15, 219);
      background-color: #f17272;
      color: #f88b8b;
      color: black;
  }
  
  .active{
      background-color: coral;
      color: darkblue;
  }
  
  .gum{
      position: sticky;
      top: 1px;
      padding: 12px;
      background-color: rgb(8, 0, 0);
      width:100%;
  }
  
  marquee{
      background-color: rgb(136, 2, 136);
      background-attachment: fixed;
      height: 25px;
      width: 100%;
      color: white;
      font-size: 16px;
      padding: 4px;
      outline: 3px ridge rgb(153, 8, 8);
      margin: 0px, ;
      
  }

  .column{
      float: left;
      width: 50%;
      padding: 15px;
      
  }

  .leftcolumn{
      background-color: rgb(160, 153, 153);
      padding: 10px;
      margin: 0;

  }

  .card{
      background-color: rgb(160, 153, 153);
      padding: 15px;
      margin: 10px;
      margin-top: 0;
      
      
    }

    h3{
        text-align: center;
        color: rgb(191, 235, 235);
        background-color: rgb(128, 1, 128);
        padding: 10px;
        margin: 2px;
    }

    .row::after{
        content: "";
        display: table;
        clear: both;
    }


    @media screen and (max-width: 600px){
        li { width: auto;  
              }
 
    }
 

   @media screen and (max-width: 600px){
       .column {width: 100%;
                padding: 10px;    }

   }

   .footer{
    text-align: bottom left;
    font-size: 10px;
    background-color: rgb(116, 11, 116);
    color: rgb(191, 235, 235);
    padding: 5px;
    opacity: 0.5;
   }



   img{
       height: 150px;
       width: 200px;
       float: left;
       margin-right: 10px;
         
    }

   .clearfix{
       overflow: auto;
       border: #4px solid #f36868;
       margin-top: 8px;
       padding: 4px;
   }

   .clearfix::after {
    content: "";
    clear: both;
    display: table;
   }

